{% extends 'base.html' %}
{% block content %}
<div class="table-wrapper">
														<table class="alt">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Description</th>
                                                                    <th>Price</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Item1</td>
                                                                    <td>Ante turpis integer aliquet porttitor.</td>
                                                                    <td>29.99</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Item2</td>
                                                                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                                                    <td>19.99</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Item3</td>
                                                                    <td> Morbi faucibus arcu accumsan lorem.</td>
                                                                    <td>29.99</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Item4</td>
                                                                    <td>Vitae integer tempus condimentum.</td>
                                                                    <td>19.99</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Item5</td>
                                                                    <td>Ante turpis integer aliquet porttitor.</td>
                                                                    <td>29.99</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
    <!doctype html>
<html lang="ko">
  <head>
  <meta charset="utf-8">
    <title>HTML</title>
    <style>
      * {
        font-size: 16px;
        font-family: Consolas, sans-serif;
      }
    </style>
  </head>
  <body>
    <form>
      <p><input type="date" value="2019-09-22" min="2019-11-14" max="2022-01-01"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
{% endblock %}